<%# locals: (message:) -%>

<%= turbo_frame_tag :message_form do %>
  <%= form_for([message.room, message]) do |f| %>
    <%= f.text_field :author %>
    <%= f.text_field :content %>
    <%= f.submit "📨 Send", class: "py-2 px-4 text-white bg-blue-500 inline-block cursor-pointer" %>
  <% end %>
<% end %>
