<%# locals: (message:) -%>

<%= turbo_frame_tag message, class: "group grid grid-cols-subgrid col-span-4 py-1 hover:bg-gray-50" do %>
  <time title="<%= message.created_at.iso8601 %>" class="font-extralight <%= message_color_class(message) %>">
    <%= message.created_at.strftime("%H:%M:%S") %>
  </time>

  <p class="font-bold <%= message_color_class(message) %>">
    <%= message.author %>
  </p>

  <p class="<%= message_color_class(message) %>">
    <%= message.content %>
  </p>

  <%= link_to room_message_path(message.room, message),
              class: "invisible group-hover:visible",
              data: {
                turbo_method: :delete,
                turbo_confirm: "Really delete this message?"
              } do %>
    ❌
  <% end %>
<% end %>
