<h1 class="font-bold text-4xl">Editing room</h1>

<%= render "form", room: @room %>

<%= link_to "Go to this room", @room, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<%= link_to "All rooms", rooms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
