<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="flex justify-between items-center mb-6">
  <h1 class="font-bold text-4xl">Rooms</h1>
  <%= link_to "New room", new_room_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

<div class="min-w-full flex flex-col gap-y-6">
  <% @rooms.each do |room| %>
    <div id="<%= dom_id room %>" class="flex justify-between items-center">
      <%= link_to "💬 " + room.title, room, class: "text-2xl rounded font-medium py-3 px-5 hover:bg-gray-100" %>
      <%= link_to "📝 Edit", edit_room_path(room), class: "rounded py-3 px-5 hover:bg-gray-100" %>
    </div>
  <% end %>
</div>
