<%= turbo_stream_from @room %>

<div class="flex flex-col gap-y-4">
  <%= link_to "← back to all rooms", rooms_path, class: "font-light text-gray-400" %>

  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-medium flex items-center gap-x-3">
      <%= form_for @room do %>
        <%= turbo_frame_tag :edit_title do %>
          <%= link_to @room.title, edit_room_path(@room) %>
        <% end %>
      <% end %>
      <%= render "rooms/message_count", room: @room %>
    </h1>

    <div class="flex gap-x-4">
      <%= link_to "📝 Edit this room", edit_room_path(@room), class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      <%= link_to "❌ Destroy this room", room_path(@room), method: :delete, class: "rounded-lg py-3 px-5 bg-red-100 font-medium" %>
    </div>
  </div>

  <%= render "rooms/messages", room: @room %>
  <%= render "messages/form", message: @room.messages.build %>
</div>
