@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .message-list {
    /* First column is the timestamp, second column is the author name, third column is the message content, fourth column is the delete button */
    grid-template-columns: minmax(0, max-content) minmax(0, max-content) minmax(0, 1fr) minmax(0, max-content);
  }

  /* Rails-generated form fields containing errors */
  .field_with_errors {
    @apply inline-block;
  }
  .field_with_errors input {
    @apply border-red-500 bg-red-100;
  }
}
